.heading{
  /*border-top-color: cadetblue;*/
  /*border-top-width: 6px;*/
  /*border-top-style: solid;*/

  /*border-bottom-color: cadetblue;*/
  /*border-bottom-width: 6px;*/
  /*border-bottom-style: solid;*/
  height: 180px;
  width: 2500px;

  background-color: skyblue;
}

.img{
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 60px;
  /*margin-top: -120px;*/
}

.webTitles{
  display: inline-block;
  padding-top: -100px;
}

.webTitle{
  font-family: 'Segoe UI',Arial,sans-serif;
  color: darkblue;
  font-size: 60px;
  text-indent: 150px;
  line-height: 60px;
}

.webSubtitle{
  font-family: 'Segoe UI',Arial,sans-serif;
  color: darkslateblue;
  font-size: 30px;
  text-indent: 350px;
  padding-top: 20px;
}

.board{
  position: relative;
  top: 30px;
  left: 30px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 240px;
    height: 112px;
    padding: 2px;
    font: 48px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

body {
  margin: 0px;
  overflow: hidden;
}

.line-path {
  fill: none;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
  /*mix-blend-mode: multiply;*/
}

.line-path:hover{
  stroke-width: 10;
}

text {
  font-family: sans-serif;
}

.tick text {
  font-size: 1.4rem;
  fill: #635F5D;
}

.tick line {
  stroke: #C0C0BB;
}

.axis-label {
  font-size: 2.5em;
  fill: #635F5D;
}

.title {
  font-size: 2.5em;
  fill: #635F5D;
}

.scrollit {
  overflow:scroll;
  height: 850px;
  position: absolute;
  top: 250px;
  left: 2000px;
  visibility: hidden;
}

#svg_glucouse_days{
  position: absolute;
}

#svg_ketone_days{
  position: absolute;
  left: 960px;
}

#svg_GKI_days{
  position: absolute;
  top: 500px;
}

#svg_ketone_glucose{
  position: absolute;
  top: 500px;
  left: 960px;
}

.filters {
  position: absolute;
  top: 1250px;
  left: 20px;
}

.filter {
  position: relative;
  display: inline-block;
  padding: 20px;
  margin-left: 20px;
  margin-top: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: steelblue;
  border-radius: 30px;
}

#newFilter{
  position: absolute;
  top: 1200px;
  left: 50px;
  font-size: x-large;
}

.purple-border .form-control:focus {
  border: 1px solid #ba68c8;
  box-shadow: 0 0 0 0.2rem rgba(186, 104, 200, .25);
}
