.heading{
  /*border-top-color: cadetblue;*/
  /*border-top-width: 6px;*/
  /*border-top-style: solid;*/

  /*border-bottom-color: cadetblue;*/
  /*border-bottom-width: 6px;*/
  /*border-bottom-style: solid;*/
  height: 180px;
  width: 2500px;

  background-color: skyblue;
}

.img{
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 60px;
  /*margin-top: -120px;*/
}

.webTitles{
  display: inline-block;
  padding-top: -100px;
}

.webTitle{
  font-family: 'Segoe UI',Arial,sans-serif;
  color: darkblue;
  font-size: 60px;
  text-indent: 150px;
  line-height: 60px;
}

.webSubtitle{
  font-family: 'Segoe UI',Arial,sans-serif;
  color: darkslateblue;
  font-size: 30px;
  text-indent: 350px;
  padding-top: 20px;
}

.board{
  position: relative;
  top: 30px;
  left: 30px;
}

body {
  margin: 0px;
  overflow: hidden;
}

.line-path {
  fill: none;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
  /*mix-blend-mode: multiply;*/
}

text {
  font-family: sans-serif;
}

.tick text {
  font-size: 1.4rem;
  fill: #635F5D;
}

.tick line {
  stroke: #C0C0BB;
}

.axis-label {
  font-size: 2.5em;
  fill: #635F5D;
}

.title {
  font-size: 2.5em;
  fill: #635F5D;
}

.scrollit {
  overflow:scroll;
  height: 850px;
  position: absolute;
  top: 250px;
  left: 2000px;
  visibility: hidden;
}

#svg_glucouse_days{
  position: absolute;
}

#svg_ketone_days{
  position: absolute;
  left: 960px;
}

#svg_GKI_days{
  position: absolute;
  top: 500px;
}

#svg_ketone_glucose{
  position: absolute;
  top: 500px;
  left: 960px;
}

.filters {
  position: absolute;
  top: 1250px;
  left: 100px;
  padding: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
