body {
  margin: 0px;
  overflow: hidden;
}

.line-path {
  fill: none;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
  /*mix-blend-mode: multiply;*/
}

text {
  font-family: sans-serif;
}

.tick text {
  font-size: 1.4rem;
  fill: #635F5D;
}

.tick line {
  stroke: #C0C0BB;
}

.axis-label {
  font-size: 3em;
  fill: #635F5D;
}

.title {
  font-size: 2.7em;
  fill: #635F5D;
}

#svg_glucouse_days{
  position: fixed;
}

#svg_ketone_days{
  position: fixed;
  left: 960px;
}

#svg_GKI_days{
  position: fixed;
  top: 500px;
}

#svg_ketone_glucose{
  position: fixed;
  top: 500px;
  left: 960px;
}
